.settings-page {
  min-height: 100vh;
  flex-direction: column;
  background-color: #000;
  padding-top: 80px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.settings-page h1{
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.settings-page p{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #000;
  color: #fff;
}